* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
    max-width: 100%;
}

header {
  height: 80px;
  background-color: rgb(68, 59, 74);
  color: white;
  text-transform:uppercase;
}

main {
  background-color: rgb(219, 217, 236);
  padding-top: 30px;
}

.container {
  width: 95%;
  margin: 0 auto;
  padding-left: 5px;
}

.text-center{
  text-align: center;
}

.card {
    background-color: rgb(48, 44, 57);
    border-radius: 10px;
    color: white;
    
    margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
   gap: 10px;
}

.flex-between {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content:center;
  align-items: center;
}

.col {
  width: calc(100% / 3 - 10px / 1);
  text-align: center;
  padding: 10px;
}

.btn {
  background-color:rgb(255, 228, 196);
  border:rgb(32, 123, 243);
  text-transform: uppercase;

  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 5px;
}


.gap{
  gap: 10px;
  padding-right: 20px;
}

.card-img{
  
}